/**
 * Basic typography style for copy text
 */

@use '../abstracts/' as *;

body {
  font-size: to-rem(15);
  font-family: $ff-primary;
  color: clr('neutral');
  background-color: clr('neutral', 200);
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5 {
  margin-block: 0;
  line-height: 1.1;
}

.h1 {
  font-size: minmax-font(40, 56);
  font-weight: 800;
  color: clr('neutral', 500);
  line-height: 1;
}

.h2 {
  font-size: minmax-font(32, 40);
  font-weight: 700;
  color: clr('primary', 300);
}

.h3 {
  font-size: to-rem(20);
  font-weight: 700;
  color: clr('neutral', 500);
}
