// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

@use '../abstracts/' as *;

.home {
  row-gap: to-rem(64);

  & > * {
    grid-column: full;
  }

  @include breakpoint(800) {
    column-gap: to-rem(30);
    row-gap: to-rem(72);

    &__section-hero {
      grid-column: full-start / col-end 8;
    }

    &__section-new {
      grid-column: col-start -4 / full-end;
    }
  }
}
